<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inertia + Roda Example</title>
</head>
<body>
  <%= yield %>
  <script type="module" src="<%= vite_asset_path('application.jsx') %>"></script>
</body>
</html>
